<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성폼</title>
</head>

<style>
    .layout{
        width : 500px;
        margin : 0 auto;
    }

    .layout > input {
        width : 100%;
        box-sizing: border-box
        margin-top : 10px
    }
</style>
<body>
    <div class="layout">
        <img src="./image/lime.png">
        <h1>오늘의 집</h1>
        <input type ="text">
        <textarea></textarea>
        <button>작성</button>

    </div>

</body>
</html>